

@font-face {
    font-family: "NanumMyeongjo";
    src: url(../font/NanumMyeongjo.ttf) format("truetype");
}

@font-face {
    font-family: "NanumMyeongjoBold";
    src: url(../font/NanumMyeongjoBold.ttf) format("truetype");
}

@font-face {
    font-family: "NanumMyeongjoExtraBold";
    src: url(../font/NanumMyeongjoExtraBold.ttf) format("truetype");
}


nr{
    font-family: "NanumMyeongjo"
}

nb{
    font-family: "NaNumMyeongjoBold"
}

neb{
    font-family: "NanumMyeongjoExtraBold"
}



/* HTML */
html{
    width:100vw;
    height:100vh;
}
body{
    display: flex;
    justify-content: space-between;
}
section{
    text-align: center;
    flex:1;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    height:100vh;
}

.category{
    flex:1;

}

ul{
    text-align: center;
    flex:1;
}

.item{
    display: flex;
    justify-content: space-between;
    width: 22vw;
    margin: 0 auto;
}

input{
}

.name{
    width:70%;
}

.price{
    width:30%;
}